:root{
    --colorFondo: rgb(184, 185, 163);
    --tipicoBorde: 1px solid black;
}

a{
    text-decoration: none;
    color: black;
}

nav a{
    display: block;
    width: 15%;
    line-height: 10vh;
    text-align: center;

    font-size: larger;
    font-weight: bolder;

    transition: color 2s, background-color 1s, border 1s;
    border: 1px solid black;
}

nav a:hover{
    background-color: blue;
    color: yellow;
    border: 3px dotted black;

}

nav{
    background-color: var(--colorFondo);
    height: 10vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

aside{
    background-image: url("../img/banner_publi.jpg");
    height: 80vh;
    width: 20vw;
}

div.contenedor{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 0 5%;
}

div.contenedor p{
    width: 40%;
    text-align: justify;
    border: var(--tipicoBorde);
    background-color: var(--colorFondo);
}

main{
    display: flex;
    flex-direction: row;
}