body{
    margin: 0;
    padding: 0;
}

/* Comentario */
#banner{
    width: 100%;
    position: relative;
    top: 0;
    left:0;
}

header{
    width: 50%;
    text-align: center;
    margin: 10px auto;
}

main{
    margin: 20px;
}

.divFlotante{
    width: 30%;
    float: left;
}

.clear{
    clear: both;
}

.vermell{
    color: red;
}

.altura{
    height: 15vh;
    min-height: 30px;
    max-height: 60px;
}

div.navegacion img{
    float: left;
}

div.navegacion nav{
    width: 30%;
    float: right;
}

.navegacion{
    background-image: linear-gradient(15deg, transparent, aquamarine);
    height: 45px;
}

nav a{
    display: block;
    padding-top: min(15px, 7vh);
    float: left;
    width: 40%;
}