@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');


body{
    /*background-image: url("../img/beach.jpg");
    background-size: cover;
    background-repeat: no-repeat;*/
    background-attachment: fixed;
    font-family: "DynaPuff", system-ui;
    /* Gradiente lineal con el primer color repetido al final para una transición suave */
    background: linear-gradient(45deg, 
        #ee7752, 
        #e73c7e, 
        #23a6d5, 
        #23d5ab,
        #ff7e5f,
        #feb47b,
        #6a11cb,
        #2575fc,
        #ee7752  /* Repetimos el primer color al final */
    );
    background-size: 300% 300%;
    animation: gradientBackground 5s linear infinite;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

img{
    filter: blur(5px);
}

img:hover{
    filter: none;
}

table{
    background-color: LightGrey;
    border: 3px solid black;
    border-collapse: collapse;
}

th, td{
    border: 1px solid black;
}

thead th{
    background-color: mediumvioletred;
}

/*tr's imparells del tbody*/
tbody tr:nth-child(odd){
    background-color:  white;
}

.daniVerde{
    color: green;
}

td[colspan]{
    font-style: italic;
}

#tigreton{
    display: inline-block;
}

#tigreton:hover{
    animation-duration: 0.4s;
    animation-name: rotacion;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes rotacion {
    0% {
        transform: rotate(40deg);
    }
  
    100%{
        transform: rotate(-40deg);
    }
  }

h1{
    border: 1px solid black;
    padding: 25px;
    margin: 0 auto;
    width: 50%;
}


#manolito{
    border-color: green;
}


#cabecera2{
    border: 5px solid rgba(198, 97, 97, 0.58);
}

#spanAdios{
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.mitad{
    box-sizing: border-box;
    width: 35vw;
    height: 10vh;
    padding: 15px;
    margin: 30px;
}

.cuadro {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    position: relative;
    animation-name: moverYColor;
    animation-direction: alternate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes moverYColor {
    0% {
      left: 0;
      background-color: #3498db;
    }
    50% {
      background-color: #e74c3c;
    }
    100% {
      left: 200px;
      background-color: #3498db;
    }
  }

  @keyframes mover {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(200px);
    }
  }